<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% block head_title %} {%endblock%}</title>
<link rel='icon' href="https://img.icons8.com/cute-clipart/64/000000/home.png" type="image/xicon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
<link rel="stylesheet" href="css/style.css">
<!-- <link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css"> -->