<!doctype html>
<html lang="en">

<head>
    {%include 'head_form.html' %}
</head>
</head>

<body>
  {%include 'navbar.html' %}
  <div class='container'>
    <div class='row'>
      <div class='col-6 mx-auto'>
        <h1>{%block content%} {% endblock %}</h1>
      </div>
    </div>
  </div>

  <!-- three equal column -->
  {% block another_content %} {% endblock %}

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  {%include 'js.html' %}
</body>

</html>